{% extends 'games/base_detail.html' %}

{% block game_title %}Taps Game{% endblock %}

{% block game_intro %}
<h3>🎯 Ready to Play?</h3>
<p>Tap as fast as you can in 10 seconds!</p>
{% endblock %}

{% block game_button %}
<a href="{% url 'games:taps_play' game.id %}" class="btn btn-success btn-lg">Start Game</a>
{% endblock %}

{% block score_unit %}taps{% endblock %}

{% block badge_class %}bg-success{% endblock %}

{% block back_button %}
<a href="{% url 'games:taps_index' %}" class="btn btn-secondary">← Back to Taps Games</a>
{% endblock %}